extends ./layout/index

block contenido

	main.container.mt-5
		.row
			.col-md-5
				img(src="img/soldador_nosotros.jpg",alt="imagen sobre nosotros",class="img-fluid")
			.col-md-7
				h1 #{pagina}
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet sem eu ipsum fringilla tincidunt sed id purus. Nunc feugiat convallis metus, id blandit sem laoreet id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper mi quis urna posuere iaculis. Integer in arcu et leo feugiat varius. Nulla magna neque, ornare nec felis id, posuere feugiat lorem. Vivamus non quam id sapien egestas suscipit quis eu tellus. Maecenas gravida consectetur ante, vel mollis arcu auctor a. Morbi scelerisque consectetur nisi a placerat. Maecenas hendrerit fermentum orci, nec elementum odio blandit eu.

				p Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna. 

	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna.
				
				.col-md-4
					img(src="img/icono_organizacion.svg",alt="icono destinos",class="img-fluid- mb-4")
					h2.mb-4 Organizacion
					p Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna.
				.col-md-4
					img(src="img/icono_compromiso.svg",alt="icono precios",class="img-fluid mb-4")
					h2.mb-4 Compromiso
					Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna.

