header
        .navegacion
                .container
                        .row.justify-content-center.justify-content-md-between.aling-items-center.py-4
                                .col-md-2
                                        a(href="/")
                                                img.img-fluid(src="/img/logo.jpg",alt="sitio logo")
                                .col-md-10
                                        nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                                                a.nav-link(href="/nosotros") Nosotros
                                                a.nav-link(href="/trabajos") Nuestras Obras
                                                a.nav-link("href=/testimoniales") Testimoniales



